@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";

.App {
  padding-left: 30%;
  padding-top: 50px;
}
#target {

    border: 1px dashed;
    height: 150px;
    padding-top: 120px;
    text-align: center;
    width: 50%;
}  
.e-cut::before {
  content: '\e279';
} 
.custom{
  float: left;
  font-style: italic;
  font-size: 10px;
}